.prediction-table {
  //   table-layout: fixed;
  margin-left: -6px;
  margin-top: -6px;

  tr {
    background: #fff;
  }

  thead td {
    color: #999;
  }

  //   td {
  //     width: 1%;
  //     white-space: nowrap;
  //   }
}
